.Payment h1{
    text-align: center;
    color:red
}
.Payment{
    
    padding: 0 7%;
   
    margin: 0;
    max-width: 100%;
    background-size: cover;
    height: 100vh;
    
}
.Payment h3{
    text-align: center;
    color:firebrick;
    padding: 150px 0;
    border: none;
}
