.Properties h1{
    text-align: center;
    color: red;
}
.Properties{
    padding: 0 7%;
   
    margin: 0;
    max-width: 100%;
    background-size: cover;
    height: 100vh;
    
}
.Properties h4{
text-align: left;
color: crimson;
}
.Properties h5{
    text-align: center;
}