.Blog h1{
    text-align: center;
    color:red;
}
.Blog{
    
    padding: 0 7%;
   
    margin: 0;
    max-width: 100%;
    background-size: cover;
    height: 100vh;
   
}
.Blog h3{
    text-align: center;
    color: blue;
    padding: 150px 0;
    border: none;
}